.aboutMe>h1{
    color: white;
    margin-left: 40px;
}
.aboutMe>p{
    color: white;
    margin-left: 50px;
}
.aboutMe>p>strong>span{
    color: red;
}
.photo{
    width: 1000px;
    height: 500px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.photo>div{
    border: 2px solid black;
}